Repository neiromaster/ink-tools: changes, and which lefthook commands are due for each by the changed paths.
All: check, format-yaml, format-markdown

check:
  run: pnpm run format:biome --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

format-yaml:
  run: pnpm run format:dprint --staged {staged_files}
  stage_fixed: true

format-markdown:
  run: pnpm run format:markdown --staged {staged_files}
  stage_fixed: true

chore: exclude CLAUDE.md files from markdownlint line-length check
  .markdownlint-cli2.jsonc
Due: check

refactor: reorganize hook tests into individual files
  packages/ink-mouse/src/hooks/mouse-events.test.tsx
  packages/ink-mouse/src/hooks/multiple-event-handlers.test.tsx
  packages/ink-mouse/src/hooks/useMouseEventInternal.test.tsx
  packages/ink-mouse/src/hooks/useOnClick.test.tsx
  packages/ink-mouse/src/hooks/useOnDrag.test.tsx
  packages/ink-mouse/src/hooks/useOnMouseEnter.test.tsx
  packages/ink-mouse/src/hooks/useOnMouseLeave.test.tsx
  packages/ink-mouse/src/hooks/useOnMouseMove.test.tsx
  packages/ink-mouse/src/hooks/useOnPress.test.tsx
  packages/ink-mouse/src/hooks/useOnRelease.test.tsx
  packages/ink-mouse/src/hooks/useOnWheel.test.tsx
Due: check

refactor: reorganize provider to co-located structure with barrel file
  packages/ink-mouse/src/geometry.hooks.test.tsx
  packages/ink-mouse/src/hooks/useMouseEventInternal.coverage.test.tsx
  packages/ink-mouse/src/provider/MouseProvider.coverage.test.tsx
  packages/ink-mouse/src/provider/MouseProvider.events.test.tsx
  packages/ink-mouse/src/provider/MouseProvider.state.test.tsx
  packages/ink-mouse/src/provider/MouseProvider.test.tsx
  packages/ink-mouse/src/provider/MouseProvider.tsx
  packages/ink-mouse/src/provider/index.ts
  packages/ink-mouse/src/provider/provider-additional-coverage.test.tsx
  packages/ink-mouse/src/provider/provider-comprehensive-coverage.test.tsx
  packages/ink-mouse/src/provider/provider-coverage.test.tsx
Due: check

refactor: reorganize contexts, geometry, and types into directories
  packages/ink-mouse/src/context.ts
  packages/ink-mouse/src/context/MouseContext.ts
  packages/ink-mouse/src/context/MouseRegistryContext.ts
  packages/ink-mouse/src/context/index.ts
  packages/ink-mouse/src/geometry.ts
  packages/ink-mouse/src/geometry/hooks.test.tsx
  packages/ink-mouse/src/geometry/hooks.ts
  packages/ink-mouse/src/geometry/index.ts
  packages/ink-mouse/src/geometry/utils.test.ts
  packages/ink-mouse/src/geometry/utils.ts
  packages/ink-mouse/src/types.ts
  packages/ink-mouse/src/types/context.ts
  packages/ink-mouse/src/types/events.ts
  packages/ink-mouse/src/types/geometry.ts
  packages/ink-mouse/src/types/index.ts
  packages/ink-mouse/src/types/registry.ts
Due: check

chore: migrate from tsx to vite-node and relax peer dependencies
  packages/ink-mouse/package.json
  packages/xterm-mouse/package.json
  pnpm-lock.yaml
Due: check, format-yaml

feat(demo): add new demo application and update dependencies
  apps/demo/.gitignore
  apps/demo/biome.json
  apps/demo/package.json
  apps/demo/src/index.tsx
  apps/demo/tsconfig.json
  apps/demo/vite.config.js
  package.json
  packages/ink-mouse/bun.lock
  packages/xterm-mouse/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: check, format-yaml

refactor(xterm-mouse): dependency injection via options object
  .changeset/di-refactoring.md
  .markdownlint-cli2.jsonc
  packages/xterm-mouse/CLAUDE.md
  packages/xterm-mouse/README.md
  packages/xterm-mouse/examples/custom-streams.ts
  packages/xterm-mouse/examples/custom-threshold.ts
  packages/xterm-mouse/package.json
  packages/xterm-mouse/src/core/Mouse.test.ts
  packages/xterm-mouse/src/core/Mouse.ts
  packages/xterm-mouse/src/core/TTYController.test.ts
  packages/xterm-mouse/src/core/TTYController.ts
  packages/xterm-mouse/src/types/options.ts
Due: check, format-markdown

feat: integrate Ink hooks for stream management
  .changeset/ink-hooks-integration.md
  packages/ink-mouse/CLAUDE.md
  packages/ink-mouse/src/hooks/useMouseInstance.ts
  packages/ink-mouse/src/provider/MouseProvider.tsx
  packages/xterm-mouse/CLAUDE.md
  packages/xterm-mouse/src/core/Mouse.test.ts
  packages/xterm-mouse/src/core/Mouse.ts
Due: check, format-markdown

fix(ink-mouse): stabilize getCachedState to prevent double-click events
  packages/ink-mouse/src/hooks/useElementBoundsCache.ts
  packages/ink-mouse/src/provider/MouseProvider.test.tsx
Due: check

refactor: improve type safety and React best practices
  packages/ink-mouse/src/hooks/useMouseInstance.ts
  packages/ink-mouse/src/provider/MouseProvider.test.tsx
  packages/ink-mouse/src/provider/MouseProvider.tsx
  packages/xterm-mouse/src/core/TTYController.test.ts
Due: check

fix(hover-state): separate hover state from bounds cache to prevent race conditions
  packages/ink-mouse/src/hooks/createMouseEventHandlers.test.ts
  packages/ink-mouse/src/hooks/createMouseEventHandlers.ts
  packages/ink-mouse/src/hooks/useElementBoundsCache.test.tsx
  packages/ink-mouse/src/hooks/useElementBoundsCache.ts
Due: check

feat(bounds-cache): add layout version tracking to prevent stale cache
  packages/ink-mouse/src/hooks/useElementBoundsCache.test.tsx
  packages/ink-mouse/src/hooks/useElementBoundsCache.ts
Due: check

feat: add runtime handler validation and remove unsafe type assertions
  packages/ink-mouse/src/hooks/createMouseEventHandlers.test.ts
  packages/ink-mouse/src/hooks/createMouseEventHandlers.ts
Due: check

feat: implement stream validation and deep freeze utilities
  packages/xterm-mouse/src/core/Mouse.test.ts
  packages/xterm-mouse/src/core/TTYController.ts
  packages/xterm-mouse/src/parser/constants.ts
  packages/xterm-mouse/src/utils/freeze.test.ts
  packages/xterm-mouse/src/utils/freeze.ts
  packages/xterm-mouse/src/utils/validation.test.ts
  packages/xterm-mouse/src/utils/validation.ts
Due: check

refactor: simplify handler validation by removing mock event test
  packages/ink-mouse/src/hooks/createMouseEventHandlers.ts
Due: check

test: remove obsolete test for mock event validation
  packages/ink-mouse/src/hooks/createMouseEventHandlers.test.ts
Due: check

fix(release): trigger workflow on PR merge to main
  .github/workflows/release.yml
Due: format-yaml

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css}
  format-yaml: any of: *.{yml,yaml}
  format-markdown: any of: *.md
