Repository neiromaster/ink-tools: changes, and which lefthook commands are due for each by the changed paths.
All: check, format

check:
  run: bun run format:biome --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
  stage_fixed: true

format:
  run: bun run format:dprint --staged {staged_files}
  stage_fixed: true

fix(ink-mouse): Correct package configuration for npm publishing
  packages/ink-mouse/CHANGELOG.md
  packages/ink-mouse/LICENSE
  packages/ink-mouse/README.md
  packages/ink-mouse/package.json
Due: check

feat(ink-mouse): add initial mouse support implementation
  .changeset/ink-mouse-initial.md
  packages/ink-mouse/README.md
  packages/ink-mouse/src/constants.ts
  packages/ink-mouse/src/context.ts
  packages/ink-mouse/src/geometry.ts
  packages/ink-mouse/src/hooks/index.ts
  packages/ink-mouse/src/hooks/useMouse.ts
  packages/ink-mouse/src/hooks/useMouseEventInternal.ts
  packages/ink-mouse/src/hooks/useOnClick.ts
  packages/ink-mouse/src/hooks/useOnMouseEnter.ts
  packages/ink-mouse/src/hooks/useOnMouseLeave.ts
  packages/ink-mouse/src/hooks/useOnWheel.ts
  packages/ink-mouse/src/index.ts
  packages/ink-mouse/src/provider.tsx
  packages/ink-mouse/src/types.ts
  packages/ink-mouse/src/utils/events.ts
  packages/ink-mouse/src/utils/geometry.ts
  packages/ink-mouse/src/utils/index.ts
Due: check

chore: update markdownlint config
  .markdownlint-cli2.jsonc
Due: check

chore(ink-mouse): update xterm-mouse to v0.6.0
  bun.lock
  packages/ink-mouse/package.json
Due: check

refactor(ink-mouse): optimize hover state with bounds caching
  .changeset/hover-cache-optimization.md
  packages/ink-mouse/src/provider.tsx
Due: check

test(ink-mouse): add comprehensive tests for mouse event hooks and provider
  packages/ink-mouse/biome.json
  packages/ink-mouse/src/hooks/mouse-events.test.tsx
  packages/ink-mouse/src/hooks/useMouse.test.tsx
  packages/ink-mouse/src/provider.test.tsx
  packages/ink-mouse/test/mocks/mouse-events.ts
Due: check

docs(testing): document React hooks error handling testing in monorepo
  docs/solutions/testing/testing-react-hooks-error-handling-monorepo.md
Due: none

test(ink-mouse): add comprehensive tests for events utility functions
  packages/ink-mouse/src/utils/events.test.ts
Due: check

test(ink-mouse): add integration tests for mouse event workflows
  docs/solutions/testing-ink-components-with-hooks.md
  docs/solutions/testing/integration-tests-ink-mouse-event-workflows.md
  docs/solutions/testing/testing-react-hooks-error-handling-monorepo.md
  packages/ink-mouse/src/integration/integration.test.tsx
Due: check

docs(monorepo): add testing infrastructure best practices guide
  .markdownlint-cli2.jsonc
  docs/testing-monorepo-packages.md
Due: check

ci(workflows): add fine-grained permissions for security
  .github/workflows/ci.yml
  .github/workflows/release.yml
  docs/github-actions-setup.md
Due: format

fix(release): use npm/auth-providers action for OIDC
  .github/workflows/release.yml
Due: format

feat: configure npm Trusted Publishing (OIDC)
  .github/workflows/release.yml
  docs/github-actions-setup.md
  packages/ink-mouse/package.json
Due: check, format

fix: add repository url to package.json for npm provenance
  packages/ink-mouse/package.json
Due: check

docs: add comprehensive npm Trusted Publishing (OIDC) documentation
  docs/github-actions-setup.md
  docs/solutions/ci-cd/npm-oidc-prevention-and-best-practices.md
  docs/solutions/ci-cd/npm-trusted-publishing-oidc-setup.md
Due: none

chore: migrate package from @neiropacks/ink-mouse to @ink-tools/ink-mouse v1.0.0
  .changeset/migration-to-ink-tools.md
  CLAUDE.md
  bun.lock
  docs/github-actions-setup.md
  docs/migration-guide.md
  docs/solutions/ci-cd/npm-oidc-prevention-and-best-practices.md
  docs/solutions/ci-cd/npm-trusted-publishing-oidc-setup.md
  docs/solutions/testing-ink-components-with-hooks.md
  docs/solutions/testing/integration-tests-ink-mouse-event-workflows.md
  docs/solutions/testing/testing-react-hooks-error-handling-monorepo.md
  docs/testing-monorepo-packages.md
  packages/ink-mouse/CLAUDE.md
  packages/ink-mouse/README.md
  packages/ink-mouse/TEST-GUIDE.md
  packages/ink-mouse/package.json
  packages/ink-mouse/src/utils/geometry.ts
Due: check

fix: add TypeScript paths mapping for workspace dependency
  tsconfig.json
Due: check

feat: publish xterm-mouse as unscoped package for better discoverability
  packages/xterm-mouse/README.md
  packages/xterm-mouse/package.json
Due: check

feat: update ink-mouse to import from unscoped xterm-mouse package
  packages/ink-mouse/CLAUDE.md
  packages/ink-mouse/README.md
  packages/ink-mouse/package.json
  packages/ink-mouse/src/hooks/useMouse.ts
  packages/ink-mouse/src/integration/integration.test.tsx
  packages/ink-mouse/src/provider.tsx
  packages/ink-mouse/src/types.ts
  packages/ink-mouse/test/mocks/mouse-events.ts
  packages/ink-mouse/tsconfig.json
  tsconfig.json
Due: check

docs: add OIDC unscoped package setup and migration guides
  docs/solutions/ci-cd/github-actions-oidc-unscoped-package-setup.md
  docs/solutions/ci-cd/npm-oidc-scoped-to-unscoped-migration.md
Due: none

test: add changeset to verify OIDC publishing
  .changeset/test-oidc-publishing.md
Due: none

chore: migrate from Bun to pnpm and setup npm Trusted Publishing
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmrc
  CLAUDE.md
  README.md
  bun.lock
  bunfig.toml
  lefthook.yml
  mise.toml
  package.json
  packages/ink-mouse/CLAUDE.md
  packages/ink-mouse/README.md
  packages/ink-mouse/package.json
  packages/ink-mouse/src/geometry.test.ts
  packages/ink-mouse/src/hooks.test.tsx
  packages/ink-mouse/src/hooks/mouse-events.test.tsx
  packages/ink-mouse/src/hooks/useMouse.test.tsx
  packages/ink-mouse/src/integration/integration.test.tsx
  packages/ink-mouse/src/provider.test.tsx
  packages/ink-mouse/src/utils/events.test.ts
  packages/ink-mouse/src/utils/geometry.test.ts
  packages/xterm-mouse/CLAUDE.md
  packages/xterm-mouse/README.md
  packages/xterm-mouse/lefthook.yml
  packages/xterm-mouse/package.json
  packages/xterm-mouse/src/core/Mouse.test.ts
  packages/xterm-mouse/src/parser/ansiParser.test.ts
  packages/xterm-mouse/src/types/eventHandler.test.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
  vitest.config.ts
Due: check, format

fix: add CJS build support to xterm-mouse for proper type resolution
  .changeset/fix-dual-package-support.md
  packages/xterm-mouse/package.json
  packages/xterm-mouse/tsup.config.ts
Due: check

fix: build packages before running tests in CI workflow
  .github/workflows/ci.yml
Due: format

fix: add test include patterns to vitest config and fix coverage scripts
  package.json
  vitest.config.ts
Due: check

fix: vitest configuration and documentation updates
  .github/workflows/ci.yml
  package.json
  packages/ink-mouse/TEST-GUIDE.md
  packages/ink-mouse/vitest.config.ts
  packages/xterm-mouse/CONTRIBUTING.md
  packages/xterm-mouse/docs/TESTING.md
  packages/xterm-mouse/examples/interactive-menu.ts
  packages/xterm-mouse/src/core/Mouse.test.ts
  packages/xterm-mouse/vitest.config.ts
  vitest.config.base.ts
  vitest.config.ts
Due: check, format

feat: add vitest validation scripts and documentation
  .github/workflows/ci.yml
  VITEST-DELIVERABLES.md
  docs/README.md
  docs/VITEST-CHECKLIST.md
  docs/VITEST-CONFIG-GUIDE.md
  docs/VITEST-IMPLEMENTATION-SUMMARY.md
  package.json
  scripts/detect-vitest-issues.sh
  scripts/verify-vitest-configs.js
Due: check, format

docs: fix MD040 errors in documentation
  VITEST-DELIVERABLES.md
  docs/README.md
  docs/VITEST-CONFIG-GUIDE.md
  docs/VITEST-IMPLEMENTATION-SUMMARY.md
  packages/xterm-mouse/CLAUDE.md
  packages/xterm-mouse/CONTRIBUTING.md
  packages/xterm-mouse/docs/PROTOCOLS.md
  packages/xterm-mouse/docs/TESTING.md
Due: none

docs: fix remaining MD040 errors in ARCHITECTURE.md
  packages/xterm-mouse/docs/ARCHITECTURE.md
Due: none

refactor: improve testability and code coverage to 89.9%
  packages/ink-mouse/package.json
  packages/ink-mouse/src/hook-internal-coverage.test.tsx
  packages/ink-mouse/src/hooks/createMouseEventHandlers.test.ts
  packages/ink-mouse/src/hooks/createMouseEventHandlers.ts
  packages/ink-mouse/src/hooks/edge-cases.test.tsx
  packages/ink-mouse/src/hooks/useElementBoundsCache.ts
  packages/ink-mouse/src/hooks/useMouseInstance.ts
  packages/ink-mouse/src/provider.tsx
  packages/ink-mouse/src/provider/provider-additional-coverage.test.tsx
  packages/ink-mouse/src/provider/provider-comprehensive-coverage.test.tsx
  packages/ink-mouse/src/provider/provider-coverage.test.tsx
  packages/ink-mouse/src/provider/provider-event-dispatch.test.tsx
  packages/ink-mouse/src/provider/provider-state-management.test.tsx
  packages/ink-mouse/src/provider/provider.test.tsx
  pnpm-lock.yaml
Due: check, format

test: add comprehensive coverage for useElementBoundsCache hook
  biome.json
  packages/ink-mouse/src/hooks/useElementBoundsCache.test.tsx
Due: check

test: add test to achieve 100% coverage for createMouseEventHandlers
  packages/ink-mouse/src/hooks/createMouseEventHandlers.test.ts
Due: check

test: add co-located tests for refactored Mouse class components
  packages/xterm-mouse/src/core/ClickDetector.test.ts
  packages/xterm-mouse/src/core/EventStreamFactory.test.ts
  packages/xterm-mouse/src/core/MouseConvenienceMethods.test.ts
  packages/xterm-mouse/src/core/MouseConvenienceMethods.ts
  packages/xterm-mouse/src/core/MouseEventManager.test.ts
  packages/xterm-mouse/src/core/PositionTracker.test.ts
  packages/xterm-mouse/src/core/TTYController.test.ts
Due: check

test: improve TTYController coverage from 24 to 30 tests
  packages/xterm-mouse/src/core/TTYController.test.ts
Due: check

test: make GC tests auto-run with --expose-gc flag
  packages/xterm-mouse/src/core/TTYController.test.ts
Due: check

feat: add test:gc command for running tests with --expose-gc
  packages/xterm-mouse/package.json
Due: check

ci: run tests with --expose-gc flag
  .github/workflows/ci.yml
Due: format

fix: resolve workspace:* dependencies in published packages
  .changeset/fix-workspace-deps.md
  .github/workflows/release.yml
Due: format

docs: fix word count in VITEST-DELIVERABLES.md
  VITEST-DELIVERABLES.md
Due: none

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc,css}
  format: any of: *.{yml,yaml}
